body {
	background-image: url("../images/irasshai.jpg");
	background-size: cover;
	background-attachment: fixed;

}

#box-home {
	height: 900px;
	width: 85%;
	background-image: url("../images/kumabkgd.jpg");
	display: block;
  margin: auto;
  margin-top: 80%;
  margin-bottom: 20px;

}

#box-contact {
	height: 1750px;
	width: 85%;
	background-image: url("../images/kumabkgd.jpg");
	display: block;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 20px;
}

/*#box-services {
	height: 1200px;
	width: 85%;
	background-image: url("../images/kumabkgd.jpg");
	display: block;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 20px;
}*/

#box {
	height: 900px;
	width: 85%;
	background-image: url("../images/kumabkgd.jpg");
	display: block;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;

}

#logo {
	width: 300px;
	margin: 20px 0px 0px 30px;
}

#nav-bar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-left: 25%;
}

#port-nav-bar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-left: 25%;
}

#nav-bar a {
	text-decoration: none;
	margin: 0px 8% 0px 0px;
	font-size: 1.5em;
	font-family: 'Josefin Sans', sans-serif;
	color: #5f3b14;
	margin-top: -15px;
	margin-bottom: -15px;
}

#port-nav-bar a {
	text-decoration: none;
	margin: 0px 8% 0px 0px;
	font-size: 1.5em;
	font-family: 'Josefin Sans', sans-serif;
	color: #5f3b14;
	margin-top: -15px;
	margin-bottom: -15px;
}

#nav-bar a:hover {
	color: #f05848;
}

.line {
	background-color: #f05848;
	height: 1px;
	margin: 0px 15px 0px 15px;
}

#line-1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

#description p {
	color: #5f3b14;
	height: 300px;
	width: 500px;
	font-family: 'Slabo 27px', sans-serif;
	-webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;
  font-size: 1.2em;
}

#pic-home-1 {
	
	margin-left: 50px;
}

#pic-size-1 {
	height: 280px;
	width: 330px;
}

#pic-home-2 img {
	height: 150px;
	width: 350px;
}

#moto {
	font-size: 1.8em;
	font-family: 'Josefin Sans', sans-serif;
	color: #5f3b14;
	margin-left: 40px;
}

#line-2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.footer-box {
	height: 70px;
	width: 85%;
	background-color: white;
	display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

}

.footer-box a {
	text-decoration: none;
	margin: 0px 50px 0px 0px;
	font-size: 1em;
	font-family: 'Slabo 27px', sans-serif;
	color: #5f3b14;
}

/*about page*/

.about_pic {
	height: 280px;
	width: 48%;
	margin-left: 8px;
	margin-top: 30px;
}

#about_content h1 {
	text-align: center;
	color: #5f3b14;
}

#about_content p {
	padding: 0px 20px 0px 20px;
	color: #5f3b14;
	font-family: 'Slabo 27px', sans-serif;
	-webkit-column-count: 2; 
  -moz-column-count: 2; 
  column-count: 2;
}

#tagline {
	text-align: center;
	font-family: 'Slabo 27px', sans-serif;
	color: #5f3b14;
}

/*portfolio*/


#port-nav-bar a {
	text-decoration: none;
	margin: 0px 50px 0px 0px;
	font-size: 1.75em;
	font-family: 'Josefin Sans', sans-serif;
	color: #5f3b14;
	margin-top: 10px;
	/*margin-bottom: -15px;*/
}

#spacer {
	height: 50px;
	width: 100%;
}

#slideshow {
	width: 90%;
	height: 400px;
	border: 2px dashed #5f3b14;
	margin: auto;
	margin-top: 30px;
}

#portfolio_description {
	color: #5f3b14;
	font-size: 1.5em;
	font-family: 'Slabo 27px', sans-serif;
	padding: 0px 30px 0px 30px;
	text-align: center;
	background-color: white;
	padding: 5%;
}

#portfolio-box {
	margin: 0% 5% 0% 5%;
}

/*Prices*/

#prices_deal {
	width: 90%;
	height: 100px;
	border: 2px dashed #5f3b14;
	margin: auto;
	margin-top: 30px;
}

#prices {
	width: 90%;
	height: 400px;
	border: 2px dashed #5f3b14;
	margin: auto;
	margin-top: 30px;
}

/*contact*/

#contact-content div {
	display: inline-block;
	text-align: center;
	margin: 10%;
}

#contact-content {
	text-align: center;
}

#contact-content p {
	font-size: 2.2vw;
	color: #5f3b14;
}

#form-wrap {
	margin: 0% 10% 0% 25%;
}

form p {
	font-family: 'Slabo 27px', sans-serif;
	color: #5f3b14; 
}

.text-1 {
    width: 100%;
    padding: 8px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #f05848;
    border-radius: 4px;
    font-size: 1.2em;
}
.text-2 {
    width: 100%;
    padding: 8px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #f05848;
    border-radius: 4px;
    font-size: 1.2em;
}

select {
    width: 50%;
    padding: 50px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f05848;
    font-size: 1.2em;
    color: white;
}

textarea {
    width: 90%;
    height: 150px;
    padding: 5px 5px;
    box-sizing: border-box;
    border: 2px solid #f05848;
    border-radius: 4px;
    resize: none;
    font-size: 1.2em;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: white;
    border: 2px solid #f05848;
    color: #5f3b14;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.3em;
}

form p {
	font-size: 1.5em;
}

.side-by-side div {
	display: inline-block;
}


@media only screen and (max-width: 1130px) {

/*body {
	background-color: #dab527;
}

#box {
	height: 1250px;
	width: 80%;
	background-image: url(kumabkgd.jpg);
	display: block;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;

}

#logo {
	width: 200px;
	margin: 20px 0px 0px 50px;
}

#nav-bar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#nav-bar a {
	text-decoration: none;
	margin: 0px 50px 0px 0px;
	font-size: 1.5em;
	font-family: 'Josefin Sans', sans-serif;
	color: #5f3b14;
	margin-top: -15px;
	margin-bottom: -15px;
}

#nav-bar a:hover {
	color: #f05848;
}

.line {
	background-color: #f05848;
	height: 1px;
	margin: 0px 15px 0px 15px;
}

#line-1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

#description p {
	color: #5f3b14;
	height: 400px;
	width: 275px;
	font-family: 'Slabo 27px', sans-serif;
	-webkit-column-count: 1; 
  -moz-column-count: 1; 
  column-count: 1;
  text-align: center;
}

#pic-home-1 {
	
	margin-left: 5px;
}

#pic-size-1 {
	height: 180px;
	width: 230px;
}

#pic-home-2 {
	height: 150px;
	width: 90%;
	border: 2px dashed #5f3b14;
}

#moto {
	font-size: 1.8em;
	font-family: 'Josefin Sans', sans-serif;
	color: #5f3b14;
	margin-left: 5px;
	text-align: center;
	width: 80%;
}

#line-2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

#footer-box {
	height: 100px;
	width: 80%;
	background-color: white;
	display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

}

#footer-box a {
	text-decoration: none;
	margin: 0px 50px 0px 0px;
	font-size: 1em;
	font-family: 'Slabo 27px', sans-serif;
	color: #5f3b14;
}*/

/*about page*/

/*#box {
	height: 2000px;
}

.about_pic {
	height: 280px;
	width: 80%;
	margin-left: 30px;
	margin-top: 30px;
}

#about_content h1 {
	text-align: center;
	color: #5f3b14;
}

#about_content p {
	padding: 0px 20px 0px 20px;
	color: #5f3b14;
	font-family: 'Slabo 27px', sans-serif;
	-webkit-column-count: 1; 
  -moz-column-count: 1; 
  column-count: 1;
}*/

/*portfolio*/

/*#spacer {
	height: 50px;
	width: 100%;
}

#box {
	height: 1100px;
}

#slideshow {
	width: 90%;
	height: 400px;
	border: 2px dashed #5f3b14;
	margin: auto;
	margin-top: 30px;
}

#portfolio_description {
	color: #5f3b14;
	font-family: 'Slabo 27px', sans-serif;
	padding: 0px 30px 0px 30px;
	text-align: center;
}

/*Prices*/

/*#prices_deal {
	width: 90%;
	height: 100px;
	border: 2px dashed #5f3b14;
	margin: auto;
	margin-top: 30px;
}

#prices {
	width: 90%;
	height: 400px;
	border: 2px dashed #5f3b14;
	margin: auto;
	margin-top: 30px;
}

contact

#box {
	height: 1400px;
}

content .contact_info {
	width: 80%;
	text-align: center;
	color: #5f3b14;
	border: 2px dashed #5f3b14;
	margin: auto;
	margin-top: 30px;
}
}

#landing-link {
	height: 600px;
	width: 100%;
}
*/


































