body {
	background-image: url("../images/irasshai.jpg");
	background-size: cover;
	background-attachment: fixed;

}

#box-home {
	height: 80%;
	width: 85%;
	background-image: url("../images/kumabkgd.jpg");
	display: block;
  margin: auto;
  margin-top: 80%;
  margin-bottom: 5vw;

}

#box-contact {
	height: 100%;
	width: 85%;
	background-image: url("../images/kumabkgd.jpg");
	display: block;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 5vw;
  /*border: 2px dashed red;*/
}

#box {
	height: 100%;
	width: 85%;
	background-image: url("../images/kumabkgd.jpg");
	display: block;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 5vw;
}

#box-services {
	height: 90%;
	width: 85%;
	background-image: url("../images/kumabkgd.jpg");
	display: block;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

#logo {
	width: 300px;
	margin: 20px 0px 0px 30px;
}

#nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 83%;
    height: 4vw;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: thin;
    border-color: #f05848; 
    margin-left: 2%;
    padding: 0 5% 0 8%;
}

#port-nav-bar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 96%;
	height: 4vw;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: thin;
	border-color: #f05848; 
	margin-left: 2%;
	padding: 0 5% 0 10%;
}

#nav-bar a {
	text-decoration: none;
	padding-left: 10%;
	font-size: 2vw;
	font-family: 'Playfair Display', serif;
	color: #5f3b14;
}

#nav-bar a.active {
    color: #f05848;
}

#port-nav-bar a {
	text-decoration: none;
	margin: 0px 4% 0px 0px;
	padding-left: 8%;
	font-size: 2vw;
	font-family: 'Playfair Display', serif;
	color: #5f3b14;
}

#port-nav-bar a.active {
    color: #f05848;
}

#nav-bar a:hover {
    color: #f05848;
}

/*.line {
	background-color: #f05848;
	height: 1px;
	margin: 0px 20px 0px 15px;
}*/

#line-1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 5vw;
}

#description p {
	color: #5f3b14;
	height: 20vw;
	width: 40vw;
	font-family: 'Playfair Display', serif;
	-webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;
  font-size: 1.3vw;
}

#pic-home-1 {
	margin-left: 3vw;
}

#pic-size-1 {
	height: 20vw;
	width: 24vw;
}

#pic-home-2 img {
	height: 15vw;
	width: 25vw;
}

#moto {
	font-size: 2vw;
	font-family: 'Playfair Display', serif;
	color: #5f3b14;
	margin-left: 5vw;
}

#line-2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 5vw;
}

/*.footer-box {
	height: 10%;
	width: 85%;
	background-color: white;
	display: block;
  margin: auto;
  margin-top: 5vw;
  margin-bottom: 10vw;
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

}

.footer-box a {
	text-decoration: none;
	margin: 0px 5vw 0px 0px;
	font-size: 1.2vw;
	font-family: 'Slabo 27px', sans-serif;
	color: #5f3b14;
}

.footer-box {
	height: 10%;
	width: 85%;
	background-color: white;
	margin: auto;
	text-align: center;
	margin-top: 5%;
}

.footer-box a {
	display: inline-block;
	text-decoration: none;
	font-family: 'Slabo 27px', sans-serif;
	color: #5f3b14;
	margin: 2% 5%;
}*/

/*about page*/

/*#about-stuff .about_pic {
	display: inline-block;
	width: 80%;
}

.about_pic {
	height: 20vw;
	width: 45%;
	margin-left: 5vw;
	margin-top: 5vw;
}

#about_content h1 {
	font-size: 2.5vw;
	text-align: center;
	color: #5f3b14;
}

#about_content p {
	padding: 0px 1vw 0px 1vw;
	color: #5f3b14;
	font-family: 'Slabo 27px', sans-serif;
	font-size: 1.2vw;
	-webkit-column-count: 2; 
  -moz-column-count: 2; 
  column-count: 2;
}

.tagline {
	text-align: center;
	font-size: 1.2vw;
	font-family: 'Slabo 27px', sans-serif;
	color: #5f3b14;
}*/

#about-pic {
	width: 90%;
	height: 20vw;
	margin-left: 15%;
}

#about-top div {
	display: inline-block;
	width: 40%;
	margin: 4%;
}

#about-top p {
	font-family: 'Playfair Display', serif;
	font-size: 1.2vw;
	color: #5f3b14;
	padding-left: 5%;
}

#about-top h2 {
	font-family: 'Quicksand', sans-serif;
	font-size: 2vw;
	font-weight: lighter;
	color: #5f3b14;
}

#about1 p {
	font-size: 1.2vw;
	font-family: 'Playfair Display', serif;
	text-align: left;
	color: #5f3b14;
	padding: 0 10% 2% 10%;
}

#about2 p {
	font-size: 2vw;
	color: #5f3b14;
	font-family: 'Quicksand', sans-serif;
	padding-left: 25%; 
}

#about2 strong {
	padding-left: 5%;
}

#about4 p {
	font-size: 2vw;
	color: #5f3b14;
	font-family: 'Quicksand', sans-serif;
	padding-left: 27%;
	padding-bottom: 5%;
}



/*portfolio*/

#spacer {
	height: 5vw;
	width: 100%;
}

#slideshow {
	width: 90%;
	height: 40vw;
	border: .5vw dashed #5f3b14;
	margin: auto;
	margin-top: 5vw;
}

#portfolio_description {
	color: #5f3b14;
	font-size: 1.5vw;
	font-family: 'Slabo 27px', sans-serif;
	padding: 0px 10vw 0px 10vw;
	text-align: center;
	background-color: white;
	padding: 5%;
}

#portfolio-box {
	margin: 0% 5% 0% 5%;
}

/*Services*/

.services {
	height: 75vw;
	margin: auto;
	text-align: center;
}

.services h2 {
	font-weight: lighter;
	font-size: 2vw;
	font-family: 'Quicksand', sans-serif;
	color: #5f3b14;
	padding-top: 5%;
}

.services .sites {
	display: inline-block;
	margin-left: 20%;
	padding-top: 5%;
	text-align: left;
	font-size: 1.5vw;
	font-family: 'Quicksand', sans-serif;
	color: #5f3b14;
	float: left;
}

.services strong {
	font-size: 2vw;
	font-weight: bolder;
}

.services h1 {
	display: inline-block;
	padding-top: 8%;
	font-size: 2vw;
	font-family: 'Quicksand', sans-serif;
	color: #5f3b14;

}

.boxes {
	display: inline-block;
	padding-top: 5%;
	width: 100%;
}

.boxes h3 {
	display: inline-block;
	text-align: center;
	color: #fff;
	font-size: 2vw;
	font-family: 'Quicksand', sans-serif;
}

.boxes div {
	display: inline-block;
	width: 25%;
	height: 15vw;
	margin-left: 2%;
	text-align: center;
	border: .5vw solid #f05848;
	border-radius: 2vw;
	background-color: #f05848;
	color: #fff;
}

.boxes div p {
	text-align: center;
	font-size: 1.25vw;
	font-family: 'Quicksand', sans-serif;

}

/*contact*/

#contact-content div {
	display: inline-block;
	text-align: center;
	margin: 10%;
}

#contact-content {
	text-align: center;
}

#contact-content p {
	font-size: 2.2vw;
	color: #5f3b14;
}

#form-wrap {
	margin: 0% 10% 0% 25%;
}

form p {
	font-size: 1.5vw;
	font-family: 'Slabo 27px', sans-serif;
	color: #5f3b14; 
}

.text-1 {
    width: 100%;
    padding: .5vw .5vw;
    margin: .5vw 0;
    box-sizing: border-box;
    border: .15vw solid #5f3b14;
    border-radius: .25vw;
    font-size: 1.5vw;
}
.text-2 {
    width: 100%;
    padding: .5vw .5vw;
    margin: .5vw 0;
    box-sizing: border-box;
    border: .15vw solid #5f3b14;
    border-radius: .25vw;
    font-size: 1.5vw;
}

select {
    width: 50%;
    /*padding: 15vw 5vw;*/
    border: none;
    border-radius: .25vw;
    background-color: #5f3b14;
    font-size: 1.2vw;
    color: white;
}

textarea {
    width: 90%;
    height: 10vw;
    padding: .5vw .5vw;
    box-sizing: border-box;
    border: .15vw solid #5f3b14;
    border-radius: .25vw;
    resize: none;
    font-size: 1.5vw;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: white;
    border: .15vw solid #5f3b14;
    color: #5f3b14;
    padding: .5vw 2vw;
    text-decoration: none;
    margin: 1vw .15vw;
    cursor: pointer;
    border-radius: .25vw;
    font-size: 1.5vw;
}

.side-by-side div {
	display: inline-block;
}


@media only screen and (max-width: 1130px) {

/*body {
	background-color: #dab527;
}

#box {
	height: 1250px;
	width: 80%;
	background-image: url(kumabkgd.jpg);
	display: block;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;

}

#logo {
	width: 200px;
	margin: 20px 0px 0px 50px;
}

#description p {
	color: #5f3b14;
	height: 400px;
	width: 275px;
	font-family: 'Slabo 27px', sans-serif;
	-webkit-column-count: 1; 
  -moz-column-count: 1; 
  column-count: 1;
  text-align: center;
}

#pic-home-1 {
	
	margin-left: 5px;
}

#pic-size-1 {
	height: 180px;
	width: 230px;
}

#pic-home-2 {
	height: 150px;
	width: 90%;
	border: 2px dashed #5f3b14;
}

#moto {
	font-size: 1.8em;
	font-family: 'Josefin Sans', sans-serif;
	color: #5f3b14;
	margin-left: 5px;
	text-align: center;
	width: 80%;
}

#line-2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

#footer-box {
	height: 100px;
	width: 80%;
	background-color: white;
	display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

}

#footer-box a {
	text-decoration: none;
	margin: 0px 50px 0px 0px;
	font-size: 1em;
	font-family: 'Slabo 27px', sans-serif;
	color: #5f3b14;
}*/

/*about page*/

/*#box {
	height: 2000px;
}

.about_pic {
	height: 280px;
	width: 80%;
	margin-left: 30px;
	margin-top: 30px;
}

#about_content h1 {
	text-align: center;
	color: #5f3b14;
}

#about_content p {
	padding: 0px 20px 0px 20px;
	color: #5f3b14;
	font-family: 'Slabo 27px', sans-serif;
	-webkit-column-count: 1; 
  -moz-column-count: 1; 
  column-count: 1;
}*/

/*portfolio*/

/*#spacer {
	height: 50px;
	width: 100%;
}

#box {
	height: 1100px;
}

#slideshow {
	width: 90%;
	height: 400px;
	border: 2px dashed #5f3b14;
	margin: auto;
	margin-top: 30px;
}

#portfolio_description {
	color: #5f3b14;
	font-family: 'Slabo 27px', sans-serif;
	padding: 0px 30px 0px 30px;
	text-align: center;
}

/*Prices*/

/*#prices_deal {
	width: 90%;
	height: 100px;
	border: 2px dashed #5f3b14;
	margin: auto;
	margin-top: 30px;
}

#prices {
	width: 90%;
	height: 400px;
	border: 2px dashed #5f3b14;
	margin: auto;
	margin-top: 30px;
}

contact

#box {
	height: 1400px;
}

content .contact_info {
	width: 80%;
	text-align: center;
	color: #5f3b14;
	border: 2px dashed #5f3b14;
	margin: auto;
	margin-top: 30px;
}
}

#landing-link {
	height: 600px;
	width: 100%;
}
 */